/* ======= БАЗА СЦЕНИ ======= */
body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

.battle-scene {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* ======= НЕБО ======= */
.sky {
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(#0d9eff, #aafff1);
    z-index: 3;
}

@keyframes skyShift {
    0%, 100% { filter: brightness(1); }
    50% { filter: brightness(0.9); }
}

/* ======= ХМАРИ ======= */
.cloud {
    position: absolute;
    width: 300%;
    height: 100%;
    background: url("clouds.png") repeat-x; 
    /* ↑ Можеш замінити на свою картинку хмар */
    opacity: 0.7;
}

.layer1 { animation: cloudsMove 30s linear infinite; }
.layer2 { animation: cloudsMove 55s linear infinite; opacity: 0.4; }

@keyframes cloudsMove {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/* ======= ЗЕМЛЯ ======= */
.ground {
    position: absolute;
    background: #3d7d2b;
    border-top: 6px solid #2a5a1e;
    bottom: 0;
    z-index: 2;
    /* top: -290px; */
}
.ground img {
    width: 100vw;
    height: 90vh;
    bottom: 0px;
    z-index: 2;
}

/* ======= ПОКЕМОНИ ======= */
.pokemon {
    position: absolute;
    z-index: 3;
}
.pokemon img {
    width: 260px;
    height: 260px;
}

/* ======= ПІКАЧУ (твій) ======= */
.player {
    position: absolute;
    bottom: 0px;
    left: 80px;


    animation: pikachuAnim 1s steps(4) infinite;
    /*                      ^^^^^^^
    ЗАМІНИ 4 на кількість кадрів у твоєму спрайті
    */
}

@keyframes pikachuAnim {
    from { background-position: 0 0; }
    to   { background-position: -384px 0; }
    /*                            ^^^^^^^
    96px (ширина кадра) × 4 кадри = 384px
    змінюй залежно від спрайта
    */
}

/* ======= WOOPER (ворог) ======= */
.enemy {
    bottom: 250px;
    right: 240px;
}
.enemy img{
    animation: wooperAnim 1s steps(4) infinite;
}
@keyframes wooperAnim {
    from { background-position: 0 0; }
    to   { background-position: -384px 200px; }
}
