body {
    margin: 0;
    overflow: hidden;
}
.battle-scene {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.sky {
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(#0d9eff, #aafff1);
    z-index: 3;
}
@keyframes skyShift {
    0%, 100% { filter: brightness(1); }
    50% { filter: brightness(0.9); }
}
.cloud {
    position: absolute;
    top: -35px;
    width: 100%;
    height: 1000%;
    background: url("clouds.jpg") repeat-x; 
    animation: cloudsMove 20s infinite linear;
    opacity: 0.3;
    z-index: 8;
}
@keyframes cloudsMove {
    from { background-position: 0 0; }
    to   { background-position: -639px 0; }
}
.ground {
    position: absolute;
    background: #52cf80;
    bottom: 0;
    z-index: 2;
}
.ground img {
    width: 100vw;
    height: 95vh;
    z-index: 2;
}
.pokemon {
    position: absolute;
    z-index: 3;
}
.pokemon img {
    width: 260px;
    height: 260px;
}
.player {
    bottom: -30px;
    left: 10%;
    animation: jumpAnim 0.7s infinite alternate ease-in-out;
}
.enemy {
    bottom: 250px;
    right: 16%;
    animation: jumpAnim 1s infinite alternate ease-in-out;
}
@keyframes jumpAnim {
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(20px, -20px); }
    100% { transform: translate(30px, 0); }
}