*{
    margin: 0;
    font-size: 20px;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;    
    height: 100%;
}
.container{
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(44, 44, 44, 0.75);
}
.Menu{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
    justify-content: space-between;
}
.Menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.Menu ul li{
    margin-right: 15px;
}
.Menu ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.aboutMe{
    margin: 20px;
    font-size: 22px;
    width: 50%;
}
.sectors{
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}
.practs, .labs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}
.pract, .lab{
    display: block;
    padding: 20px;
    margin: 10px;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 80px;
    align-content: center;
    font-size: 17px;
}
.pract p, .lab p{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
}
footer ul{
    list-style: none;
}