*{
    margin: 0;
    font-size: 20px;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;    
    height: 100%;
}
.Menu{
    padding: 20px;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
    width: 250px;
}
.Menu ul {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
}

.Menu:hover ul {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
}
.Menu ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
footer{
    padding: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
}
footer ul{
    list-style: none;
}